body {
  background-color: rgb(245, 245, 245);
}

.banner-show {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-show h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.infos-show {
  margin-top: 24px;
  display: flex;
}

.details-show {
  padding: 16px;
  height: 300px;
  width: 70%;
  margin: 8px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px
}

.booking-placeholder {
  height: 300px;
  width: 30%;
  padding: 16px;
  margin: 8px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: solid 2px;
  border-color: lightgray;
  font-weight: bold;
// A changer lorsque booking form
}

.pricetag {
  border-radius: 12px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}

.reservations {
  background-color: white;
  padding: 16px;
  margin: 8px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}
