
<div class="footer-container">
  <div class="footer">
    <div class="footer-copyright">
      <i class="fa-solid fa-copyright"></i> 2022 AirBFF, Inc. <br>
      Confidentialité <br>
      Condition générales <br>
      Plan du site
    </div>
    <div class="footer-links">
      <a href="#"><i class="fa-brands fa-square-github"></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
    </div>
  </div>
</div>
