.category-button {
  overflow: hidden;
  vertical-align: middle;
  border-radius: 5px;
  height: 70px;
  background-size: cover;
  object-fit: contain;
  display: flex;
  align-items: flex-end;
  padding-left: 16px;
  color: white;
  a {
    text-decoration: none;
  }
}

.category-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

h5:hover {
  color: #FF5A60;
  text-decoration: none;
}

.h5 {
  color: rgb(251, 239, 239);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-decoration: none;
}
