.footer {
  background: #FF5A60;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.3);
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 1;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-links a:hover {
  opacity: 0.2;
}

.footer-copyright {
  margin-top: 10px;
}
