<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Votre e-mail va être remplacé par: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Votre e-mail a été remplacé par: <%= @resource.email %>.</p>
<% end %>
